<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="UTF-8">
	<title>AppVenda</title>
</head>
</body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link active" href="/">AppVenda</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/vendedor/lista">Vendedores</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/produto/lista">Produtos</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/livros/lista">Livros</a></li>
			<li class="nav-item"><a class="nav-link" href="/veiculos/lista">Veículos</a></li>
		</ul>
		<th:if test="${not empty listagem}">
			<form class="d-flex" action="/${rota}/pesquisar">
				<input class="form-control me-2" type="text" name="campoBusca" placeholder="Search">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</th:if>
	</div>
</nav>

<div class="container mt-3">

	<span class="badge rounded-pill bg-primary">
		Vendedor: <span th:text="${qtdeVendedor}" />
	</span>
	<span class="badge rounded-pill bg-secondary">
		Produto: <span th:text="${qtdeProduto}" />
	</span>
	<span class="badge rounded-pill bg-success">
		Livros: <span th:text="${qtdeLivros}" />
	</span>
	<span class="badge rounded-pill bg-danger">
		Veículos: <span th:text="${qtdeVeiculos}" />
	</span>

	<div th:if="${!#lists.isEmpty(listagem)}">
		<h2>AppVenda</h2>
		<p>Gestão de vendas de <span th:text="${titulo}" />:</p>
		<form class="d-flex" style="margin-bottom: 24px;" action="" method="GET">
			<!-- <input class="form-control me-2" type="text" name="campoBusca" placeholder="Search"> -->
			<label style="margin-right:16px;">
				Ordenar Por:<br />
				<select name="ordenarPor">
					<div th:if="${rota == 'livros'}">
						<option value="titulo" selected>Título</option>
						<option value="autor">Autor</option>
						<option value="editora">Editora</option>
						<option value="ano_publicacao">Ano de Publicação</option>
						<option value="preco">Preço</option>
					</div>
					<div th:if="${rota == 'veiculos'}">
						<option value="modelo" selected>Modelo</option>
						<option value="marca">Marca</option>
						<option value="ano">Ano</option>
						<option value="preco">Preço</option>
					</div>
				</select>
			</label>
			<label style="margin-right:16px;">
				Ordem:<br />
				<select name="ordem">
					<option value="asc" selected>Crescente</option>
					<option value="desc">Decrescente</option>
				</select>
			</label>
			<button class="btn btn-primary" type="submit">Search</button>
		</form>
		<div th:if="${rota == 'livros'}">
			<form action="/livros/novo" method="GET">
				<button class="btn btn-success" type="submit">Novo</button>
			</form>
		</div>
		<div th:if="${rota == 'veiculos'}">
			<form action="/veiculos/novo" method="GET">
				<button class="btn btn-success" type="submit">Novo</button>
			</form>
		</div>

		<table th:if="${#strings.indexOf(rota, 'novo') &lt; 0}" class="table">
			<thead class="table-dark">
				<tr>
					<div th:if="${rota == 'vendedor'}">
						<td>Nome</td>
						<td>Email</td>
						<td>CPF</td>
					</div>
					<div th:if="${rota == 'produto'}">
						<td>Id</td>
						<td>Descrição</td>
						<td>Código</td>
						<td>Estoque</td>
						<td>Preço</td>
					</div>
					<div th:if="${rota == 'livros'}">
						<td>Id</td>
						<td>Título</td>
						<td>Código</td>
						<td>Estoque</td>
						<td>Preço</td>
						<td>Autor</td>
						<td>Editora</td>
						<td>Ano da publicação</td>
						<td>Descrição</td>
					</div>
					<div th:if="${rota == 'veiculos'}">
						<td>Id</td>
						<td>Código</td>
						<td>Modelo</td>
						<td>Marca</td>
						<td>Descrição</td>
						<td>Estoque</td>
						<td>Preço</td>
						<td>Ano</td>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listagem}">
					<div th:if="${rota == 'vendedor'}">
						<td th:text="${item.nome}" />
						<td th:text="${item.email}" />
						<td th:text="${item.cpf}" />
					</div>
					<div th:if="${rota == 'produto'}">
						<td th:text="${item.id}" />
						<td th:text="${item.descricao}" />
						<td th:text="${item.codigo}" />
						<td th:text="${item.estoque}" />
						<td th:text="${item.preco}" />
					</div>
					<div th:if="${rota == 'livros'}">
						<td th:text="${item.id}" />
						<td th:text="${item.titulo}" />
						<td th:text="${item.codigo}" />
						<td th:text="${item.estoque}" />
						<td th:text="${item.preco}" />
						<td th:text="${item.autor}" />
						<td th:text="${item.editora}" />
						<td th:text="${item.anoPublicacao}" />
						<td th:text="${item.descricao}" />
					</div>
					<div th:if="${rota == 'veiculos'}">
						<td th:text="${item.id}" />
						<td th:text="${item.codigo}" />
						<td th:text="${item.modelo}" />
						<td th:text="${item.marca}" />
						<td th:text="${item.descricao}" />
						<td th:text="${item.estoque}" />
						<td th:text="${item.preco}" />
						<td th:text="${item.ano}" />
					</div>
					<td th:if="${rota == 'livros'}">
						<a th:href="@{/{rota}/{itemId}(rota=${rota}, itemId=${item.id})}">ver</a>
					</td>
					<td th:if="${rota == 'livros'}">
						<a th:href="@{/{rota}/{itemId}/editar(rota=${rota}, itemId=${item.id})}">editar</a>
					</td>
					<td th:if="${rota == 'veiculos'}">
						<a th:href="@{/{rota}/{itemId}(rota=${rota}, itemId=${item.id})}">ver</a>
					</td>
					<td th:if="${rota == 'veiculos'}">
						<a th:href="@{/{rota}/{itemId}/editar(rota=${rota}, itemId=${item.id})}">editar</a>
					</td>
					<td>
						<a th:href="@{/{rota}/{itemId}/excluir(rota=${rota}, itemId=${item.id})}">excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${#strings.isEmpty(root)}">
		<ul>
			<li>
				<a href="/livros/novo">
					<button class="btn btn-primary">Adicionar Livro</button>
				</a>
			</li>
			<li>
				<a href="/veiculos/novo">
					<button class="btn btn-primary">Adicionar Veiculo</button>
				</a>
			</li>
		</ul>
	</div>

	<form th:if="${rota == 'livros_novo'}" method="POST" action="/livros">
		<h3>Incluir Livro</h3>
		<div class="form-group">
			<label for="titulo">Título:</label>
			<input type="text" class="form-control" id="titulo" name="titulo" minlength="3" maxlength="200">
		</div>
		<div class="form-group">
			<label for="codigo">Código:</label>
			<input type="number" class="form-control" id="codigo" name="codigo" min="0">
		</div>
		<div class="form-group">
			<label>Estoque:</label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelTrue" value="true">
				<label class="form-check-label" for="disponivelTrue">
					True
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelFalse" value="false">
				<label class="form-check-label" for="disponivelFalse">
					False
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="preco">Preço:</label>
			<input type="number" class="form-control" id="preco" name="preco" min="0.01" step="0.01">
		</div>
		<div class="form-group">
			<label for="autor">Autor:</label>
			<input type="text" class="form-control" id="autor" name="autor" minlength="3" maxlength="150">
		</div>
		<div class="form-group">
			<label for="editora">Editora:</label>
			<input type="text" class="form-control" id="editora" name="editora" minlength="3" maxlength="100">
		</div>
		<div class="form-group">
			<label for="anoPublicacao">Ano da publicação:</label>
			<input type="number" class="form-control" id="anoPublicacao" name="anoPublicacao" min="1">
		</div>
		<div class="form-group">
			<label for="descricao">Descrição:</label>
			<textarea class="form-control" id="descricao" name="descricao"></textarea>
		</div>
		<button class="btn btn-success" type="submit">Incluir</button>
	</form>

	<form th:if="${rota == 'livros_unico'}" method="POST" th:action="@{'/livros/' + ${id}}">
		<h3 th:text="${livro.titulo}" />
		<a href="/livros/lista">Voltar</a>
		<a th:if="${!editar}" th:href="@{/livros/{itemId}/editar(rota=${rota}, itemId=${id})}">editar</a>
		<div class="form-group">
			<label for="titulo">Título:</label>
			<input type="text" class="form-control" id="titulo" name="titulo" th:value="${livro.titulo}"
				th:readonly="${!editar}" minlength="3" maxlength="200">
		</div>
		<div class="form-group">
			<label for="codigo">Código:</label>
			<input type="number" class="form-control" id="codigo" name="codigo" min="0" th:value="${livro.codigo}"
				th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label>Estoque:</label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelTrue" value="true"
					th:checked="${livro.estoque}" th:readonly="${!editar}">
				<label class="form-check-label" for="disponivelTrue">
					True
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelFalse" value="false"
					th:checked="${!livro.estoque}" th:readonly="${!editar}">
				<label class="form-check-label" for="disponivelFalse">
					False
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="preco">Preço:</label>
			<input type="number" class="form-control" id="preco" name="preco" min="0.01" step="0.01"
				th:value="${livro.preco}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="autor">Autor:</label>
			<input type="text" class="form-control" id="autor" name="autor" minlength="3" maxlength="150"
				th:value="${livro.autor}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="editora">Editora:</label>
			<input type="text" class="form-control" id="editora" name="editora" minlength="3" maxlength="100"
				th:value="${livro.editora}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="anoPublicacao">Ano da publicação:</label>
			<input type="number" class="form-control" id="anoPublicacao" name="anoPublicacao" min="1"
				th:value="${livro.anoPublicacao}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="descricao">Descrição:</label>
			<textarea class="form-control" id="descricao" name="descricao" th:text="${livro.descricao}"
				th:readonly="${!editar}"></textarea>
		</div>
		<button th:if="${editar}" class="btn btn-success" type="submit">Salvar</button>
	</form>

	<form th:if="${rota == 'veiculos_novo'}" method="POST" action="/veiculos">
		<h3>Incluir Veículo</h3>
		<div class="form-group">
			<label for="codigo">Código:</label>
			<input type="number" class="form-control" id="codigo" name="codigo" min="0">
		</div>
		<div class="form-group">
			<label for="modelo">Modelo:</label>
			<input type="text" class="form-control" id="modelo" name="modelo" minlength="3" maxlength="50">
		</div>
		<div class="form-group">
			<label for="marca">Marca:</label>
			<input type="text" class="form-control" id="marca" name="marca" minlength="3" maxlength="50">
		</div>
		<div class="form-group">
			<label for="descricao">Descrição:</label>
			<textarea class="form-control" id="descricao" name="descricao"></textarea>
		</div>
		<div class="form-group">
			<label>Estoque:</label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelTrue" value="true">
				<label class="form-check-label" for="disponivelTrue">
					True
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelFalse" value="false">
				<label class="form-check-label" for="disponivelFalse">
					False
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="preco">Preço:</label>
			<input type="number" class="form-control" id="preco" name="preco" min="0.01" step="0.01">
		</div>
		<div class="form-group">
			<label for="ano">Ano:</label>
			<input type="number" class="form-control" id="ano" name="ano">
		</div>
		<button class="btn btn-success" type="submit">Incluir</button>
	</form>

	<form th:if="${rota == 'veiculos_unico'}" method="POST" th:action="@{'/veiculos/' + ${id}}">
		<h3 th:text="${veiculo.modelo}" />
		<a href="/veiculos/lista">Voltar</a>
		<a th:if="${!editar}" th:href="@{/veiculos/{itemId}/editar(rota=${rota}, itemId=${id})}">editar</a>
		<div class="form-group">
			<label for="codigo">Código:</label>
			<input type="number" class="form-control" id="codigo" name="codigo" min="0" th:value="${veiculo.codigo}"
				th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="modelo">Modelo:</label>
			<input type="text" class="form-control" id="modelo" name="modelo" minlength="3" maxlength="50"
				th:value="${veiculo.modelo}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="marca">Marca:</label>
			<input type="text" class="form-control" id="marca" name="marca" th:value="${veiculo.marca}" minlength="3"
				maxlength="50" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="descricao">Descrição:</label>
			<textarea class="form-control" id="descricao" name="descricao" th:text="${veiculo.descricao}"
				th:readonly="${!editar}"></textarea>
		</div>
		<div class="form-group">
			<label>Estoque:</label>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelTrue" value="true"
					th:checked="${veiculo.estoque}" th:readonly="${!editar}">
				<label class="form-check-label" for="disponivelTrue">
					True
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="estoque" id="disponivelFalse" value="false"
					th:checked="${!veiculo.estoque}" th:readonly="${!editar}">
				<label class="form-check-label" for="disponivelFalse">
					False
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="preco">Preço:</label>
			<input type="number" class="form-control" id="preco" name="preco" min="0.01" step="0.01"
				th:value="${veiculo.preco}" th:readonly="${!editar}">
		</div>
		<div class="form-group">
			<label for="ano">Ano:</label>
			<input type="number" class="form-control" id="ano" name="ano" th:value="${veiculo.ano}" min="0"
				th:readonly="${!editar}">
		</div>
		<button th:if="${editar}" class="btn btn-success" type="submit">Salvar</button>
	</form>
</div>
</body>

</html>